body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav_css {
  text-decoration: none;
  width: 100%;
  line-height: 60px;
  background-color: #20232a;
  display: flex;
  justify-content: space-around;
}

.link_css {
  color: aqua;
  text-decoration: none;
}

.menu_css{
  text-align: center;
  color: rgb(87, 82, 82);
}